/* Хедер удалить когда зальют в репозиторий */
header {
    background: #e0cbb4;
}

.header-container {}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

.header-logo {
    display: flex;
    justify-content: center;


    width: 84px;
    height: 36px;
    cursor: pointer;
}

.burger-btn {
    width: 48px;
    height: 48px;
}

.burger-btn-icon {}


/* !mobile menu */

.mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #e0cbb4;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    transition-delay: 0ms;

    /* overflow-y: scroll; */
}

.mobile-nav {}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
}

/* .header-logo {} */

/* .burger-btn {} */

/* .burger-btn-icon {} */

.nav-list {
    color: #0b0803;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.nav-item {}