.welcome-section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.welcome-p {
font-family: Quicksand;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 150%;
letter-spacing: 0%;
margin-bottom: 32px;
}

.welcome-img {
  border-radius: 40px;
  width: 100%;
}


.welcome-h2 {

}

.welcome-p-title {
font-family: 'Quicksand', sans-serif;
font-weight: 600;
font-style: SemiBold;
font-size: 16px;
line-height: 1.5;
margin-bottom: 16px;
}
.wiright{
    margin-bottom: 32px;
}
.wstablet {
  margin-bottom: 32px;
}

.fl-button {
width: 100%;
display: inline-flex;
align-items: center;
justify-content: center;
gap: 12px;
color: #FFF;
text-decoration: none;
cursor: pointer;
}


.fl-button svg,
.fl-button svg * {
  width: 24px;
  height: 24px;
  fill: currentColor;
  color: inherit;
  vertical-align: middle;
}

.welcome-map-pin {
  margin-left: 7px;
  height: 24px;
  width: 24px;
}


@media (min-width: 768px) {
  .welcome-p-title {
    }
  
    .wstablet {
    display: flex;
    flex-direction: row;
  }

  .fl-button {
    width: auto;
  }

  .wiright,
  .wileft {
    width: 336px;
  }

  .wiright {
    margin-bottom: 0;
    margin-right: 32px;
  }

  .welcome-img {
  }
}

@media (min-width: 1440px) {



   .wiright,
  .wileft {
    width: 640px;
  }


.wstablet {
  margin-bottom: 80px;
}

}